img{
    max-width: 100%;
    height: auto;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
  background: #000;
  color: #fff;
  line-height: 1.2;
  font-family: 'Noto Sans TC', sans-serif;
}
