@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import 'bootstrap/scss/functions';

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import './helper/variables';

// 4. Include any default map overrides here

// 5. Include remainder of required parts

@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/bootstrap';
@import './reboot';

body {
  background: #000;
  color: #fff;
  height: 200vh;
  line-height: 1.2;
  font-family: 'Noto Sans TC', sans-serif;
}
.ol {
  outline: solid;
}
.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mb-md-25 {
  margin-bottom: 6.25rem;
}

.mb-45 {
  margin-bottom: 11.25rem;
}

.mb-40 {
  margin-bottom: 25rem;
}
.mb-30 {
  margin-bottom: 7.5rem;
}

.pt-24 {
  padding-top: 6rem;
}

.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.py-30 {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.cursor-pointer {
  cursor: pointer;
}

@include media-breakpoint-up(lg) { 
    .mb-lg-40{
        margin-bottom: 10rem;
    }
}

.start-btn {
  padding: 20px 40px;
}
.start-btn:hover {
  color: #000;
}
