.vh-80 {
  height: calc(100dvh - 80px);
}

.mb-6 {
  margin-bottom: 1.5rem;
}
.mb-12 {
  margin-bottom: 3rem;
}
.mb-30 {
  margin-bottom: 7.5rem;
}
.mt-30{
  margin-bottom: 7.5rem;
}
.gap-y-6 {
  gap: 1.5rem 0px;
}

@include media-breakpoint-up(lg) {
  .mb-lg-40 {
    margin-bottom: 10rem;
  }
  .mt-lg-40{
    margin-top: 10rem;
  }
}

@media screen and (min-width: 992px) {
  .w-lg-75 {
    width: 75%;
  }
}

.fz-5 {
  font-size: 1.25rem;
}
.fz-8 {
  font-size: 2rem;
}

@media screen and (min-width: 992px) {
  .fz-lg-8 {
    font-size: 2rem;
  }
}


.banner-title {
  font-size: 3rem;
  @media screen and (min-width: 1200px) {
    & {
      @include font-size(7.5rem);
    }
  }
}

.z-index-1 {
  z-index: 1;
}

.cursor-pointer {
  cursor: pointer;
}
